# Godot-specific ignores
.godot/
*.tmp
export_presets.cfg

# .NET / C# builds and caches
bin/
obj/
.mono/
.vs/
.vscode/


# Local Asset Scraps and Design Logs
Assetts/Sprites/PNG/SD/Scraps/
*.docx
android/
